<% @recipes.each do |recipe| %>
<div class="col-md-4"></div>
<div class="recipe"></div>
<div class="image_wrapper"></div>
<%= link_to recipe do %>
<h2><%= link_to recipe.name, recipe %></h2>
<%end%>
<%end%>